In [1]:
%%capture
!pip install germansentiment

In [1]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.0-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.0

In [2]:
import pandas as pd
from ipywidgets import IntProgress
from IPython.display import display
import time

In [22]:
data_1 = {'Id': [1, 2, 3, 4, 5],
        'Text': ["Text 1", "Text 2", "Text 3", "Text 4", "Text 5"]}

data_2 = {'Id': [6, 7, 8, 9, 10],
        'Text': ["Text 6", "Text 7", "Text 8", "Text 9", "Text 10"]}
  
# Create DataFrame
df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

In [23]:
df_1

   Id    Text
0   1  Text 1
1   2  Text 2
2   3  Text 3
3   4  Text 4
4   5  Text 5

In [8]:
swear_df = pd.read_csv("swear_word_tweets.csv")
swear_df

                                                     text
0       1/2\nIhr #Verr√§ter\nIhr #Eidbrecher\nIhr #Verb...
1       @SWagenknecht Weil Sie das ja auch so gut wiss...
2       @ABW67484335 @susi_lins @SWagenknecht Ach wie ...
3       @McI0vin @Bauernopfer1 @voglerk Ich wei√ü ja, i...
4       @SevimDagdelen Daƒüdelen erz√§hlt immer noch ihr...
...                                                   ...
202396  @JoSteiniger Diese bl√∂den B√ºrger, diese bl√∂den...
202397  @erik_donner @JoSteiniger Aber nat√ºrlich doch....
202398  @JoSteiniger @jansweber Gegen Olympia wurde be...
202399  @JoSteiniger zulassen, dass korrupte Funktion√§...
202400  @JoSteiniger Die Pro-Olympia Kampagne war in M...

[202401 rows x 1 columns]

In [11]:
swear_list = swear_df.text.to_list()

In [21]:
swear_list[:5]

['1/2\nIhr #Verr√§ter\nIhr #Eidbrecher\nIhr #Verbrecher\n\nVerteiler! \n\n@cdu_fraktion @csu @Die_Gruenen\n@dieLinke @jensspahn \n@AfDimBundestag \n@fdp @HeikoMaas @GregorGysi @SawsanChebli @_FriedrichMerz\n@RegSprecher @akk @ABaerbock\n@DietmarBartsch @MarcoBuschmann \n\nhttps://t.co/OVKeQRvSDp',
 '@SWagenknecht Weil Sie das ja auch so gut wissen?!\nSo, wie Sie wussten, dass #Putin ja niiieeemals die #Ukraine √ºberf√§llt.\nOder wie Sie sich mit #Corona auskennen und den ganzen #Querdenker und #Schwurbler Mist verbreiten.üòíüôÑüôà',
 '@ABW67484335 @susi_lins @SWagenknecht Ach wie sch√∂n: Pers√∂nliche Anekd√∂tchen vs. Wissenschaft. So kennen wir unsere Querdullis. Ach so: Sind Ampeln auch Mist, weil Sie es schon mal vor einem heranrasenden Wagen √ºber die Stra√üe geschafft haben?',
 '@McI0vin @Bauernopfer1 @voglerk Ich wei√ü ja, ihr drei haltet euch f√ºr besonders schlau und lustig... aber dann w√ºrde ich vielleicht wenigstens die ganze transphobe Schei√üe im Profil vorher verstecken, bevor ich so eine geistige Insolvenzerkl√§rung online abgebe. üòò',
 "@SevimDagdelen Daƒüdelen erz√§hlt immer noch ihr M√§rchen davon, dass man den Krieg in der Ukraine nicht mit Sanktionen stoppen k√∂nne, im Gegenteil - wir m√ºssen das Krokodil weiter dem√ºtig f√ºttern in der Hoffnung, dass es uns erst zuletzt frisst. Geh' zum Teufel, du dumme Kuh!"]

In [15]:
%%capture
from germansentiment import SentimentModel

model = SentimentModel()

In [38]:
text = swear_list[5]

In [39]:
classes, probabilities = model.predict_sentiment([text], output_probabilities = True) 
print(classes, probabilities)

['negative'] [[['positive', 0.059055864810943604], ['negative', 0.9357224702835083], ['neutral', 0.005221561994403601]]]

In [40]:
for i in range(3):  
    if probabilities[0][i][0] == classes[0]:
        if classes[0] == "negative":
            if probabilities[0][i][1] > 0.6:
                print(f"The prediction is {probabilities[0][i][0]} with a Score of {probabilities[0][i][1]}")

The prediction is negative with a Score of 0.9357224702835083

In [48]:
f = IntProgress(min=0, max=len(swear_list)) # instantiate the bar
display(f) # display the bar
print("PROGRESS")

sentiment_list = []
counter = 0

for i in swear_list:
    f.value += 1 # increment the progress bar
    counter += 1
    classes, probabilities = model.predict_sentiment([i], output_probabilities = True)
    for j in range(3):  
        if probabilities[0][j][0] == classes[0]:
            if classes[0] == "negative":
                if probabilities[0][j][1] > 0.9:
                    sentiment_list.append(i)
                    #print(f"The prediction is {probabilities[0][j][0]} with a Score of {probabilities[0][j][1]}")

len(sentiment_list)

IntProgress(value=0, max=202401)

PROGRESS

IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

86719

In [50]:
df = pd.DataFrame(data={"text": sentiment_list})
df = df.reset_index()
df.to_csv("./sentiment_swear_words.csv", sep=';',index=False, encoding="utf-8")

In [52]:
annotation = df.sample(2000)
annotation = annotation.reset_index()
annotation.to_csv("sentiment_annotation_2k.csv", encoding = "utf-8", sep=";")

In [15]:
df = pd.read_csv("sentiment_swear_words.csv", sep=";")
df = df.sample(250)
df.to_csv("annotation_batch_3.csv")

In [22]:
indexlist = list(range(0,250))
df["Column1"] = indexlist
df

       index                                               text  Column1
17748  17748  @SerapGueler Wenn man selbst eine geh√∂rige Tra...        0
86203  86203  @Kai_Whittaker @ABaerbock Baerbock und Habeck ...        1
69727  69727  @StBrandner M√ºssen Sie Ihren unqualifizierten ...        2
63739  63739  @FranzMe58209364 @Stphn85 @prof_freedom @janos...        3
75386  75386  @janoschdahmen Ich bin Unternehmer, und ich sa...        4
...      ...                                                ...      ...
34875  34875  @Stahlwerker2 @MucWizo @onkeltomb @ben_brechtk...      245
63896  63896  Wieso lieber @Karl_Lauterbach scheuche ich mei...      246
58254  58254  @MOmega81437749 @HilgerAlexander @Karl_Lauterb...      247
25914  25914                          @Ralf_Stegner Oh, schei√üe      248
56118  56118  wie lange dauert es noch an, bis Sie uns von @...      249

[250 rows x 3 columns]

In [19]:
anno = pd.read_csv("../Annotation/sentiment_annotation_2k.csv", sep=";")
anno.head()

,Unnamed: 0,level_0,index,text
0,0,33048,33048,@eckhard_neubert @maischberger @n_roettgen @Da...
1,1,10274,10274,@phoenix_de @Ricarda_Lang @Die_Gruenen Wie dre...
2,2,66195,66195,@AfDProtschka Und ich w√ºnsche Ihnen Fl√∂he am A...
3,3,56652,56652,@Karl_Lauterbach Jetzt gibt es eine neue Sau d...
4,4,225,225,"@ernst_klaus Geh und halt die Backen, du witzf..."

In [20]:
anno[anno.level_0 == 33048]

,Unnamed: 0,level_0,index,text
0,0,33048,33048,@eckhard_neubert @maischberger @n_roettgen @Da...

In [17]:
anno1 = anno[400:470]
anno2 = anno[570:1000]
anno3 = anno1.append(anno2)
len(anno3)

/tmp/ipykernel_635/2922013166.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  anno3 = anno1.append(anno2)

500